<div id= "<%= dom_id collection %>">

  <div class="img" style="padding:5px;">

    <%= link_to image_tag(collection.image_as_thumbnail), collection.image %>
  </div>
  <p>
    <strong>Name:</strong>
    <%= collection.encoll_translation&.name if collection.encoll_translation %>
  </p>
  <p>
    <strong>Brand:</strong>
    <%= collection.brand.name %>
  </p>

  <p>
    <%= collection.body %>
  </p>
</div>







</div>