<div id= "<%= dom_id item_value %>">
  <p>
    <%= form.text_field :item_id, value: @item.id %>
    <strong>id:</strong>
    <%= item_value.id %>
  </p>
  <p>
    <strong>Category:</strong>
    <%=  item_i18n.name%>

  </p>

  <p>
    <strong>Brand:</strong>
    <!-- prendo il nome dalla query eseguita all'origine di index nel controller,
     BRAND è OPZIONALE MA collegato ad expansion (se c'è una collection deve esserci il BRAND collegato

     -->
    <%= item_i18n.blueprint.item_id if item_i18n.item %>
  </p>


  <p>
    <strong>Expansion:</strong>
    <%= item.collection.name if item.collection %>
  </p>


</div>