
<%= render @brand %>
<h4>Collections</h4>
<ul>
  <% @collections.each do |collection| %>
    <div style="display: flex;align-items: center ;border-bottom:1px solid #cdcdcd;">
    <%= link_to image_tag(collection.image_as_thumbnail), collection %>
    <li><%= collection.name %></li>

    </div>
  <% end %>
</ul>
<div>
  <%= link_to "edit this brand", edit_brand_path(@brand) %>
  <%= link_to "back to brands", brands_path %>
  <%= button_to "destroy this brand", @brand, method: :delete, data: { turbo_method: "delete", turbo_confirm: "Really destroy it?"} %>
</div>