<%= form_with(model: @category, url: categories_path, local: true) do |form| %>

  <!-- Voices fields -->
  <div>
    <%= form.fields_for :category_i18ns do |voice_form| %>
      <div>
        <%= voice_form.label :name %>
        <%= voice_form.text_field :name %>
      </div>

      <div>
        <%= voice_form.label :locale %>
        <%= voice_form.select :locale, options_for_select(['en', 'fr', 'es']) %>
      </div>
    <% end %>
  </div>

  <!-- Voice-specific form fields -->
  <div class="field">
    <%= form.label :category_id %>
    <%= form.collection_select :parent_id, CategoryI18n.all, :category_id, :name, { prompt: 'Select category' } %>

  </div>




  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
